@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  html {
    @apply scroll-smooth;
    scroll-padding: 80px;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .active::after {
    @apply border-transparent content-['']  w-7 -bottom-1 rounded-md left-[27%] lg:border-on absolute border-b-2;
  }

  .order-button {
    margin-top: -8px;
    background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(45deg, rgba(58, 161, 255, 0.85), rgba(0, 108, 208, 1))
        border-box;
    border: 3px solid transparent;
    border-radius: 50px;
    padding: 6px 20px;
  }

  .outline-button {
    background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(45deg, rgba(58, 161, 255, 0.85), rgba(0, 108, 208, 1))
        border-box;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 0px 11px 3px;
  }
}
